/*Colores*/
/*Variables*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 97vw;
}

.main {
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.titulo {
  display: block;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 1rem;
  font-family: "Roboto";
}

.navbar-brand:hover {
  transform: scale(1.1);
}

.btn-buscar:hover {
  background-color: #cec7c5;
  font-weight: bolder;
}

.nav-link {
  color: #4f4f4f;
}

.nav-link:hover {
  transform: scale(1.1);
}

.card {
  width: 400px;
  margin: 15px auto;
}
.card .card_title {
  text-align: center;
}
.card .card_text {
  margin: 0 10px;
}
.card .card_text .card_text-muted {
  font-weight: bold;
}
.card img {
  height: 300px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.formulario {
  width: 80%;
  margin: auto;
}
.formulario .btn-submit {
  width: 100px;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  left: 45%;
}
.formulario .btn-submit:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cec7c7;
  border-radius: 10rem;
  z-index: -2;
}
.formulario .btn-submit:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #aa9e9e;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.formulario .btn-submit:hover {
  color: #fff;
}
.formulario .btn-submit:hover:before {
  width: 100%;
}

h3, h4 {
  text-align: center;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 1rem;
}

.fa-facebook-f {
  color: #4267B2;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-instagram {
  color: #FD1D1D;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-whatsapp {
  color: #075E54;
}

.fa-envelope {
  color: #004f9f;
}

footer a i:hover {
  transform: scale(2);
}

@media screen and (min-width: 280px) {
  .navbar-brand {
    display: block;
  }
  .card {
    width: 95vw;
  }
  .novedades-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "card ";
    width: 100%;
  }
  .titulo {
    position: relative;
    margin-top: 25%;
  }
  .botonera-redes {
    width: 100vw;
  }
}
@media screen and (min-width: 360px) {
  .card {
    width: 85vw;
  }
  .botonera-redes {
    width: 385px;
  }
}
@media screen and (min-width: 540px) {
  .botonera-redes {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    display: block;
  }
  .novedades-container {
    grid-template-columns: 1fr;
    grid-template-areas: "card  ";
    gap: 1rem;
  }
  .titulo {
    margin-top: 10%;
  }
  .botonera-redes {
    margin: 0;
    width: 90vw;
  }
}
@media screen and (min-width: 912px) {
  .card {
    width: 70%;
  }
  .botonera-redes {
    margin: 0;
    width: 80vw;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 93%;
  }
  .novedades-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card card";
    gap: 1rem;
    margin-left: 1rem;
  }
  .botonera-redes {
    width: 90vw;
  }
}
@media screen and (min-width: 1280px) {
  .novedades-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card card card";
  }
  .card {
    width: 90%;
  }
  .botonera-redes {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
