/*Variables*/

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
    height: 80vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titulo {
    display: block;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 1rem;
  }
  .nav-link {
    color: #4f4f4f;
  }

  .card{
    width: 400px;
    margin: auto;
  }
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .formulario {
    width: 80%;
    margin: auto;
  }
  
  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    margin-top: 1rem;
  }
  footer a i:hover {
    transform: scale(2);
  }
  /*Media Querys*/

/*Estilos para Tablet*/
@media screen and (min-width: 768px) {
    .novedades-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "card card card";
      width: 100%;
      gap: 1rem;
    }
  
    .titulo {
      position: relative;
      margin-top: 10%;
    }
  }
