@import './partials/colors';
@import './partials/fonts';
/*Variables*/

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
    height: 80vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titulo {
    display: block;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 1rem;
  }
  .nav-link {
    color: $navColor;
  }

  .card{
    width: 400px;
    margin: 15px auto;

    .card_title{
      text-align: center;
    }
    .card_text{
      margin: 0 10px;
    }

    .card_text .card_text-muted{
      font-weight: bold;
    }

    img{
      height: 300px;
    }
  }
  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .formulario {
    width: 80%;
    margin: auto;
  }
  
  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    margin-top: 1rem;
  }
  footer a i:hover {
    transform: scale(2);
  }
  
  @import './partials/queries';