@import "./partials/colors";
@import "./partials/fonts";
/*Variables*/

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.titulo {
  display: block;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 1rem;
  font-family: $titleFont;
}

.navbar-brand:hover{
  transform: scale(1.1);
}

.btn-buscar:hover{
  background-color: $btnSearch;
  font-weight: bolder;
}
.nav-link {
  color: $navColor;
}

.nav-link:hover{
  transform: scale(1.1);
}
.card {
  width: 400px;
  margin: 15px auto;

  .card_title {
    text-align: center;
  }

  .card_text {
    margin: 0 10px;
  }

  .card_text .card_text-muted {
    font-weight: bold;
  }

  img {
    height: 300px;
  }
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.formulario {
  width: 80%;
  margin: auto;

  .btn-submit {
    width: 100px;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: $navColor;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    left: 45%;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $colorBtn;
      border-radius: 10rem;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($colorBtn, 15%);
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: $white;

      &:before {
        width: 100%;
      }
    }
  }
}

h3{
  text-align: center;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 1rem;
}

@mixin boton($color) {
	color: $color;
}

.fa-facebook-f{
  @include boton($facebook);
}

.fa-twitter{
  @include boton($twitter);
}

.fa-instagram{
  @include boton($instagram);
}

.fa-linkedin{
  @include boton($linkedin);
}

.fa-whatsapp{
  @include boton($whatsApp);
}

.fa-envelope{
  @include boton($email);
}
footer a i:hover {
  transform: scale(2);
}
@import "./partials/queries";
