/*Colores*/
$navColor: #4f4f4f;
$colorBtn: #cec7c7;
$white: #fff;
$twitter: #1DA1F2;
$facebook: #4267B2;
$instagram: #FD1D1D;
$linkedin: #0a66c2;
$whatsApp: #075E54;
$email: #004f9f;
$btnSearch: #cec7c5;