/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos Barra de Navegación utilizando Mobile First*/
.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: max-content;
  align-items: center;
  margin-bottom: auto;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}
.hamb-nav {
  position: relative;
  top: 0;
  overflow: auto;
}

.logo-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  border: none;
  top: 0;
  left: 15%;
}
.logo {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 80%;
}

.busqueda {
  position: absolute;
  top: 15px;
  left: 62%;
}

/*Estilos en el main*/
main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: auto;
  overflow: auto;
}

.titulo {
  text-align: center;
}

.novedades-container {
  width: 95%;
  margin: auto;
  overflow: auto;
}
.novedades-container::-webkit-scrollbar,
.dormitorio-container::-webkit-scrollbar,
.cocina-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(228, 221, 221); /* or add it to the track */
}
.novedades-container::-webkit-scrollbar-thumb,
.dormitorio-container::-webkit-scrollbar-thumb,
.cocina-container::-webkit-scrollbar-thumb {
  background: #000;
}
.novedades {
  width: 94%;
  margin: 10px;
}

footer {
  background-color: bisque;
  display: block;
  bottom: 0%;
}
footer h4 {
  text-align: center;
}
footer a i {
  width: 50px;
}

footer .copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

/*Media Queries*/
